<div class="container">
  <div><button (click)="Show()" [ngClass]="{'button':true}">Display Table</button></div>
  <ng-container *ngIf="showtable">
     <table class="table">
       <thead >
         <tr >
           <th scope="col" [ngClass]="{'id': changeid}">id</th>
           <th scope="col" [ngClass]="{'name': Changename}">Name</th>
           <th scope="col" [ngClass]="{'age': Changeage}">Age</th>
           <th scope="col" [ngClass]="{'place': Changeplace}">Place</th>
         </tr>
       </thead>
       <tbody>
         @for(item of items;track item.id){
         <tr>
           <th [ngClass]="{'id': changeid}" scope="row">{{item.id}}</th>
           <td [ngClass]="{'name':  Changename}">{{item.name}}</td>
           <td [ngClass]="{'age': Changeage}">{{item.age}}</td>
           <td [ngClass]="{'place': Changeplace}">{{item.place}}</td>
         </tr>}@empty{
           No items
         }
       </tbody>
     </table>
  </ng-container>
  <div><button  [ngClass]="{'button':true}" (click)="Change()">Change style</button></div>
 </div>